body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: "Gugi", sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
}

label {
    cursor: pointer;
    transition: all 0.3s ease-out;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

label:hover, label:focus {
    background-color: #0093dd;
    color: #fff;
    border-radius: 10px;
}

fieldset { 
    border: none;
}

input[type=radio] {
    margin-right: 10px;
    cursor: pointer;
}

button {
    padding: 20px;
    border: none;
    background-color: #0093dd;
    color: #ffffff;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: hsl(200, 99%, 30%);
}

.welcomeMessage {
    color: #fff;
}

.challenge {
    text-align: center;
    padding: 20px;
}

.mainButton {
    margin-bottom: 20px; 
    margin-right: 20px;
    float: right;
}

.startButton {
    text-align: center;
}

.logo {
    height: 100px;
    max-width: auto;
    margin: 30px;
}

.clear{
    clear: both;
}

.quiz {
    margin: 5px;
    padding-top: 1px;
    background:#fff;
    border-radius: 10px;
}

.currentScore {
    position: absolute; 
    padding-left: 20px;
    padding-top: 40px; 
    font-weight: bold;
}

.scoreBar {
    color: #fff;
    border-bottom: solid;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    margin: auto;
    padding: 2px;;
}

.currentBar {
    border-color: #0093dd;
    color: 	#0093dd;
}

.rightBar {
    border-color: #008000;
    color: 	#008000;
}

.wrongBar {
    border-color: #FF0000;
    color: #FF0000;
}

.flex-container {
    display: flex;
    width: 600px;
    height: 50px;
}

.rightIcon {
    text-align: center;
    color: #008000;
    margin: 50px;
    
}
.wrongIcon {
    text-align: center;
    color: #FF0000;
    margin: 50px;
}

@media only screen and (max-width: 1000px) {
    .mainbox{
    }
    .mainbox-inner{
        left: 25%;
        top: 25%;
        position: absolute;
        width: 50%;
        height: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .quizAnswers{
        font-size: 18px;
        padding: 10px;
        font-weight: bold;
    }
    .flex-container {
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .mainbox{
        left: 50%;
        top: 25%;
        position: absolute;
    }
    .mainbox-inner{
        width: 600px;
        height: 100%;
        margin-left: -250px;
        height: auto;
        max-width: 600px;
        max-height: 600px;
    }
    .quizAnswers{
        font-size: 18px;
        padding: 20px;
        font-weight: bold;
    }
}